body {
    background-color: black;
    color: white;
    font-size: 22px;
}

.steps {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 20px;
}

.ingredients {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 25px;
    line-height: 32px;
    margin: 3%;
}

#title {
    letter-spacing: 40px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    background-color: lavender;
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;

}


.recipe {
    border: 5px solid white;
    padding: 20px;
    margin: 20px;
}



.recipe > hr {
    padding: 1rem;
    margin: 30px;
}

img {
    width: 300px;
}

.button {
    text-decoration: wavy;
    width: 80px;
    height: 90px;
    background-color: pink;
    font-weight: bold;
}